/* ABOUT
-------------------------------------------------*/
.about {
  text-align: center;
  padding: $space * 2;
}

i.media-object {
  font-size: 30px;
  color: $colorPrimary;
}

.media {
  text-align: left;
}