/* HERO
-------------------------------------------------*/
.banner-content {
  padding: $space 0;
  background: rgba($white, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  h2 {
      margin: 0 0 5px;
      color: $colorPrimary;
  }
  p {
      font-size: 16px;
  }
}

.banner {
  background: url(image-path("image2.jpg")) no-repeat;
  background-size: cover;
  height: 550px;
  margin-bottom: 0;
  position: relative;
}