/* FOOTER
-------------------------------------------------*/
.main-footer {
    padding: $space * 2;
    color: $white;
    background: lighten($colorPrimary, 2%);
    text-align: center;
    small {
        display: block;
    }
}
